body {
    font-family: "Verdana", sans-serif;
    color: #666;
}

h1 {
    font-size: 48px;
    font-weight: 500;
}

p {
    font-size: 16px;
    line-height: 200%;
}

.subtitle {
    font-size: 24px;
    color: #f07c17;
    font-weight: bold;
    padding-bottom: 20px;
}

.container {
    padding: 25px 0 0 20px;
}

.col-md-5 {
    padding: 20px 15px 0 15px;
}

.col-md-12 {
    padding: 0 15px 0 10px;
}

.col-md-7 {
    padding-left: 15px;
    padding-right: 20px;
}

.feature_box1 {
    margin-top: 25px;
    padding: 10px 0px 0 30px;
    height: 225px;
    border: 1px; 
  solid #ccc;
    font-size: 16px;
    line-height: 190%;
}

.mockup-overlay {
    top: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}
